@using Entities.ViewModels.Products
@model UpdateProductViewModel
 @{
    ViewData["Title"] = "Update product";
 }
 <h1>Update Product</h1>
<a asp-action="Product" asp-route-id="@Model.Id" style="margin-right:100%" 
     class="btn btn-sm btn-primary">
     Back  
</a>
<form method="post" asp-controller="Products" asp-action="Update">
    <div asp-validation-summary="ModelOnly" id="myCustomSummary" class="text-danger" style="margin:auto"></div>
    <div class="form-group">
        <label asp-for="Name">Product name</label><br />
        <input asp-for="Name" value="@Model.Name"
         style='width:300px;margin:auto' class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DefaultQuantity">Default quantity</label><br />
        <input asp-for="DefaultQuantity" value="@Model.DefaultQuantity"
         style='width:300px;margin:auto' class="form-control"/>
        <span asp-validation-for="DefaultQuantity" class="text-danger"></span>
    </div>
    <input type="hidden" name="Id" value="@Model.Id"/>
    <div>
        <button type="submit" class="btn btn-success">Update</button>
    </div>
</form>