<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <script src='@Url.Content("~/Scripts/bootstrap.min.js")'></script>
    
</head>
<body>
    <!--меню-->
        <nav class="navbar navbar-inverse"> 
            <div class="container">
                <div>
                    <ul class="nav navbar-nav">
                        <li><a href="~/Home" class="navbar-brand">Home</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!--основной контент-->
        <div class="container body-content" style="text-align:center">
            @RenderBody()
            <hr />
            <footer >
                <p>Contacts: zhamichenok@gmail.com</p>
                <p>© 2022 - The Best</p>
            </footer>
        </div>
        @RenderSection("Scripts", required: false)
</body>
</html>
