@{
    ViewData["Title"] = "Home";
}

<p>
    <h2>Client application for creating, change and deleting refrigerators and products.</h2>
</p>

<div>
    <ul class="nav navbar-nav">
        <li><a href="~/Models" class="navbar-brand">Fridge models</a></li>
        <li><a href="~/Fridges" class="navbar-brand">Fridges</a></li>
        <li><a href="~/Products" class="navbar-brand">Products</a></li>
        <li><a href="~/Fridges/Fill" class="navbar-brand">Fill fridges</a></li>
    </ul>
</div>