@using Entities.ViewModels.Fridges
@model CreateFridgeViewModel
 @{
    ViewData["Title"] = "Create fridge";
 }

 <h1>New fridge</h1>
<a asp-action="Models" style="margin-right:100%" 
     class="btn btn-primary">
     Models  
</a>
<form method="post" asp-action="Create">
    <div asp-validation-summary="ModelOnly" id="myCustomSummary" class="text-danger" style="margin:auto"></div>
    <div class="form-group">
        <label asp-for="Name">Fridge name</label><br />
        <input asp-for="Name" style='width:300px;margin:auto' class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="OwnerName">Owner name</label><br />
        <input asp-for="OwnerName" style='width:300px;margin:auto' class="form-control"/>
        <span asp-validation-for="OwnerName" class="text-danger"></span>
    </div>
    <div style="margin-top:15px">
        <button type="submit" class="btn btn-success">Create</button>
    </div>
</form>