@using Entities.ViewModels.FridgeModels
@model FridgeModelsViewModel
 @{
    ViewData["Title"] = "Fridge models";
 }
<h1>Choose model for new fridge</h1>
<a asp-action="Fridges" style="margin-right:100%" 
     class="btn btn-primary">
     Fridges  
</a>
<table class="table">
    @foreach (var fridgeModel in Model.fridgeModels)
    {
        <tr>
            <td>
                <a asp-action="Create" 
                 asp-route-modelId="@fridgeModel.Id"
                 class="btn btn-sm btn-outline-primary">
                 @fridgeModel.Name
                </a>
            </td>
        </tr>
    }
</table>
<div style="margin-top:15px">
    @if(Model.metaData.HasPrevious)
    {
        <a asp-action="Models"
            asp-route-pageNumber="@(Model.metaData.CurrentPage-1)"
            class="btn btn-sm btn-outline-primary">
                <i class="arrow left"></i>Back
        </a>
    }
    @if(Model.metaData.HasNext)
    {
        <a asp-action="Models"
            asp-route-pageNumber="@(Model.metaData.CurrentPage+1)"
            class="btn btn-sm btn-outline-primary">
                Next<i class="arrow right"></i>
        </a>
    }
</div>