@using Entities.ViewModels.FridgeProducts
@model CreateFridgeProductViewModel
 @{
    ViewData["Title"] = "Add product in the fridge";
 }
 <h1>Product</h1>
<a asp-action="AllProducts" asp-route-fridgeId="@Model.FridgeId" style="margin-right:100%" 
     class="btn btn-primary">
     Back  
</a>
<form method="post" asp-action="Create" asp-route-fridgeId="@Model.FridgeId" asp-route-productId="@Model.ProductId">
    <div asp-validation-summary="ModelOnly" id="myCustomSummary" class="text-danger" style="margin:auto"></div>
    <div class="form-group">
        <label asp-for="Quantity">Quantity</label><br />
        <input asp-for="Quantity" style='width:300px;margin:auto' class="form-control"/>
        <span asp-validation-for="Quantity" class="text-danger"></span>
    </div>
    <div style="margin-top:15px">
        <button type="submit" class="btn btn-success">Add</button>
    </div>
</form>